body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #262626;
}

.cup {
    width: 240px;
    height: 350px;
    border: 10px solid #0d161f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 0px 8px #fff, inset 20px -20px 20px rgba(255, 255, 255, 0.5), inset -10px -20px 20px rgba(255, 255, 255, 0.5);
    background-image: url(https://drive.google.com/uc?export=view&id=1668Sj2XfrJGTWDFc3IRqCBPsqTnW2tSE);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 20s ease-in-out infinite;
}

.cup::after {
    content: "";
    width: 70px;
    height: 140px;
    position: absolute;
    left: 250px;
    top: 50px;
    border: 8px solid #fff;
    border-right-width: 16px;
    border-radius: 0px 20px 50px 0px;
}

@keyframes filling {
    50% {
        background-position: 3000px 0px;
    }
    100% {
        background-position: 6000px 350px;
    }
}